<!DOCTYPE html>
<<<<<<< HEAD
=======
<h1>Articles</h1>

>>>>>>> 4e87afc3b79eb26d0ba6cfff3b3fb094a850ab21
<p>
 <% @articles.each do |article|%>
 <%= article.title %>
 <%= article.content %>
<%end%>
  
</p>